 <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Login and Signup Form</title>
</head>
<body>
<div class="wrapper">
	<div class="title-text">
	  <div class="title login">Login Form</div>
	  <div class="title signup">Signup Form</div>
	</div>
	<div class="form-container">
	  <div class="slide-controls">
		<input type="radio" name="slide" id="login" checked>
		<input type="radio" name="slide" id="signup"  [checked]="!isLogin">
		<label for="login" (click)="onLoginClick()" class="slide login">Login</label>
		<label for="signup" (click)="onSignupClick()" class="slide signup">Signup</label>
		<div class="slider-tab"></div>
	  </div>
	  <div class="form-inner">
		<form action="#" class="login" *ngIf="isLogin">
		  <div class="field">
			<input type="text" placeholder="Email Address" name="emailId" [(ngModel)]="emailId" required>
		  </div>
		  <div class="field">
			<input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" name="password" [(ngModel)]="password" required>
			<span class="toggle-password" (click)="togglePasswordVisibility()">
			  <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
			</span>
		  </div>
		  
		  <div class="pass-link"><a href="#">Forgot password?</a></div>
		  <div class="field btn">
			<div class="btn-layer"></div>
			<input type="submit" (click)="onSubmit()" [disabled]="!emailId || !password" value="Login">
		  </div>
		  <div class="signup-link">Not a member? <a (click)="onSignupClick()">Signup now</a></div>
		</form>
		<form action="#" class="signup" *ngIf="isSignup">
			<div class="field signup_field">
				<input type="text" placeholder="UserName" name="userName" [(ngModel)]="userName" required>
			  </div>
		  <div class="field signup_field">
			<input type="text" placeholder="Email Address" name="emailId" [(ngModel)]="emailId" required pattern="[a-zA-Z0-9._%+-]+@gmail\.com$">
		  </div>
		  <div class="field signup_field">
			<input type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
		  </div>
		  <div class="field signup_field">
			<input type="password" placeholder="Confirm password" name="reEnteredPswd" [(ngModel)]="reEnteredPswd" required>
		  </div>
		  
		  <div class="field signup_field">
			<select id="dropdownField" name="role" [(ngModel)]="role" required>
			  <option value="default" disabled selected>Select Role</option>
			  <option value="AvEngineer" class="options">AV Engineers</option>
			  <!-- <option value="systemIntegrator" class="options">System Integrator</option>
			  <option value="oem" class="options">OEM</option>
			  <option value="client" class="options">Client</option>
			  <option value="consultants" class="options">Consultants</option>
			  <option value="distributor" class="options">Distributor</option> -->
			<!-- </select>
		  </div>
            <p class="invalid_msg">{{ invalidMsg }}</p>
		  <div class="field btn mb-4">
			<div class="btn-layer"></div>
			<input type="submit" (click)="onSignUp()" value="Signup">
		  </div>
		</form>
	  </div>
	</div>
  </div> --> 

<!-- <ng-template #myDialog>
    <mat-dialog-content class="d-flex flex-column align-items-end justify-content-start rounded" style="border-radius: 15px;">
        <i class="fa fa-close cancel_Icon mb-3" [mat-dialog-close]="true"></i>
        <div class="row details">
			<div class="col-md-2 d-flex align-items-center justify-content-center">
				<i class="fa fa-warning mr-2"></i>
			</div>
            <div class="col-md-8" style="margin-left: 5px;">
                <p class="oops_error">Oops!</p>
                <p class="popup-msg">{{ errorMsg }}</p>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="d-flex justify-content-center" style="margin-top: -20px;">
        <button [mat-dialog-close]="true" class="btn btn-warning retry_Button">Retry</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #signUp>
	<mat-dialog-content class="d-flex align-items-center justify-content-center">
	  <section class="conform_Text">
		<mat-checkbox  class="example-margin" color="primary" [(ngModel)]="receiveEmailsChecked"><p class="conform_Text">I would like to receive emails and newsletters about AV Teach publications, events, webinars, education, news and other exciting topics.</p> </mat-checkbox>
		<mat-checkbox  class="example-margin" color="primary" [(ngModel)]="nameSearchableChecked"><p class="conform_Text">By registering with AV Tech, you consent to having your name searchable in our Member Directory.</p></mat-checkbox>
	  </section>
	</mat-dialog-content>
	<mat-dialog-actions align="center" class="d-flex justify-content-center" style="margin-top: -20px;">
	  <button [mat-dialog-close]="true" class="btn btn-warning retry_Button">Cancel</button>
	  <button *ngIf="receiveEmailsChecked && nameSearchableChecked" (click)="onConfirmSignUp()" [mat-dialog-close]="true" class="btn btn-success retry_Button">Confirm</button>
	</mat-dialog-actions>
  </ng-template>
  
    <app-spinner *ngIf="showSpinner"></app-spinner>
  </body>
</html> -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<ng-template #myDialog>
    <mat-dialog-content class="d-flex flex-column align-items-end justify-content-start rounded" style="border-radius: 15px;">
		<div>
			<a mat-button [href]="googleUrl" class="social_btn google_button"><i class="fa fa-google text-white"></i> Google</a>
			<a mat-button [href]="linkedInUrl" class="social_btn linkedIn_button"><i class="fa fa-linkedin text-white"></i> LinkedIn</a>
		  </div>  
		  </mat-dialog-content>
</ng-template>
</body>