<footer>
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a href="#" class="d-block text-left text-mobile-left">©2024, AV CHAMPS, All rights reserved</a>
        </div>
        <div class="col-md-3 col-sm-4">
            <a href="#" class="d-block text-left text-mobile-left">Terms and conditions</a>
        </div>
        <div class="col-md-3 col-sm-4">
            <a href="#" class="d-block text-left text-mobile-left">Privacy policy</a>
        </div>
        <div class="col-md-3 col-sm-4">
            <a href="#" class="d-block text-lefttext-mobile-left">Cookie Policy</a>
        </div>
        <!-- <div class="col-md-2">
            <a href="#" style="display: inline-block;">Cookie Preferences</a>
        </div> -->
    </div>
</div>


</footer>