<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Signup Form</title>
</head>
<body>
 <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row" style="align-items: end;">
        <div class="col-lg-4 box" data-aos="fade-right">
          <img [src]="getImageSource()" class="img-fluid image" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content custom-content  mt-4" data-aos="fade-left">
          <div class="row user-data">
            <div class="col-lg-6">

              <ul>
                <li><span class="material-icons">person</span> <span class="data">{{ userName }}</span></li>
                <li> <span class="material-icons">calendar_month</span><span class="data">{{ dateOfBirth !== 'not updated' ? formatDOB(dateOfBirth) : dateOfBirth }}</span></li>
                <li> <span class="material-icons">male</span> <span class="data">{{ gender }}</span></li>
                <li> <span class="material-icons">place</span> <span class="data">{{ userCity }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li> <span class="material-icons">business</span> <span class="data">{{ companyName }}</span></li>
                <li> <span class="material-icons">work</span> <span class="data">{{ jobTitle }}</span></li>
                <li><span class="material-icons">email</span> <span class="data">{{ userEmailId }}</span></li>
                <li>  <span class="material-icons">phone</span> <span class="data">{{ mobileNumber }}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-spinner *ngIf="showSpinner" class="spinner"></app-spinner>
  </body>
  </html> -->





  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div class="container header-boxs emp-profile">
      <form method="post">
          <div class="row">
              <div class="col-md-4">
                  <div class="profile-img">
                    <img [src]="imagePath" alt="" width="200" style="border-radius: 50%; border: 2px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"/>

                      <!-- <div class="file btn btn-lg btn-primary">
                          Change Photo
                          <input type="file" name="file"/>
                      </div> -->
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="profile-head">
                      <h2> {{ userName }}</h2>
                      <h4>{{ jobTitle }}</h4>
                      <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">About</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-2">
                <button type="button" class="profile-edit-btn" (click)="toggleEditMode()" [class.save-mode]="editMode" [class.edit-mode]="!editMode">{{ editMode ? 'Save' : 'Edit' }}</button>
             </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <!-- <div class="profile-work">
                      <p>WORK LINK</p>
                      <a href="">Website Link</a><br/>
                      <a href="">Bootsnipp Profile</a><br/>
                      <a href="">Bootply Profile</a>
                  </div> -->
              </div>
              <div class="col-md-8" style="margin-top: -20px;">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6 mb-0">
                                <input type="text" disabled  [(ngModel)]="userName" name="userNameInput" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email Id</label>
                            </div>
                            <div class="col-md-6">
                                <input type="email" disabled [(ngModel)]="emailId" name="emailIdInput" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mobile Number</label>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" [disabled]="!editMode" [(ngModel)]="mobileNumber" name="mobileNumberInput" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Desination</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" [disabled]="!editMode" [(ngModel)]="jobTitle" name="jobTitleInput" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>DOB</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" [disabled]="!editMode" [ngModel]="formatDOB(dateOfBirth)" (ngModelChange)="dateOfBirth = $event" name="dateOfBirthInput" class="form-control">
                              </div>
                                                       
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Location</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" [disabled]="!editMode" [(ngModel)]="userCity" name="userCityInput" class="form-control">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <select [disabled]="!editMode" [(ngModel)]="gender" name="genderInput" class="form-control">
                                    <option>{{ gender }}</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
          </div>
      </form>
  </div>
  
</body>


</html>